#veterinaryServicesCarousel {
    border: 2px solid var(--clr-main); /* Borde verde */
    max-height: 77vh; /* Bordes redondeados */
    overflow: hidden; /* Para mantener los bordes redondeados */
    margin: 20px auto; /* Márgenes alrededor del carrusel, centrado horizontal */
    max-width: 100%; /* Asegura que el carrusel no exceda el ancho de su contenedor */
    margin-top: 4rem;
  }
  .carousel-item img {
    border-radius: 50%; /* Hacer las imágenes redondas */
    width: 100%; /* Asegurar que las imágenes tomen el ancho completo del contenedor */
    max-height: 77vh; /* Limitar la altura máxima de las imágenes */
    /* object-fit: cover; /* Ajustar la imagen para que cubra el contenedor manteniendo la proporción */
    object-position: center; /* Centrar la imagen dentro del contenedor */
    margin: 0 0 9.9rem 0rem;
  }
  .carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #5cb85c; /* Color verde para los botones */
    border-radius: 50%; /* Hacer los botones redondos */
  }
  .carousel-control-prev, .carousel-control-next {
    filter: invert(100%);
  }
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para el texto */
    border-radius: 10px; /* Bordes redondeados para el texto */
  }
  