<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Vet-Pet</title>
</head>
<body>
    <section class="section-banner">
        <div class="banner">
            <div class="capa">
                <div class="contenido">
                    <h1>Bienvenido a Vet-Pet, tu veterinaria de confianza</h1>
                    <p>En nuestra clínica, nos apasiona el cuidado y bienestar de tus fieles amigos peludos, emplumados, escamosos y todo ser vivo que forme parte de tu familia. Desde perros y gatos hasta pájaros y reptiles, estamos aquí para brindarles la mejor atención posible.
                        
                        En nuestra página web encontrarás información sobre nuestros servicios, el equipo veterinario, consejos de cuidado animal y mucho más.
                        
                        <!-- ¡Gracias por confiar en nosotros con la salud y felicidad de tus mascotas! --></p>
                    <center><a href="#nosotros" class="button">Sobre nosotros</a></center>
                </div>
            </div>
        </div>
    </section>
</body>
</html>